/* Ensure table sections word wrap.

   To use, add :class: nowrap to any css content
   -JP
 */
table.nowrap td,
table.nowrap th {
    white-space: normal !important;
}

/* set sphinx-prompt to somewhat visually match code-highlights */
.highlight {
    border: 1px solid #e1e4e5 ;
    overflow-x: auto;
    background: #fff;
    margin: 1px 0 24px 0;
    padding: 12px 12px;
    font-size: 12px;
}

.wy-side-nav-search {
    background-color: #fff;
}

.version {
    color: white;
}

.aos-logo {
    height: 2em !important;
    display: inline !important;
}

/**/
body,
html {
    height: 100%; 
}

body {
    color: #313639;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;   
}

b, strong {
    font-weight: bold !important;
}

a, a:visited {
    color: #113395;
}

a:hover {
    color: #1470a2;
}

.h1, h1 {
    color: #113395;
    font-size: 2.53rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #113395;
    font-size: 1.9rem;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.h3, h3 {
    font-size: 1.5rem;
}

.h4, h4 {
    font-size: 1.3rem;
}
 
.rst-content .toctree-wrapper p.caption, 
h3, h4, h5, h6, legend {
    color: #113395;
    font-family: Arial, Helvetica, sans-serif;      
}

.rst-content .toctree-wrapper p.caption {
    font-weight: normal;    
}

.wy-nav-content-wrap {
    padding-top: 62px;
}

.wy-grid-for-nav {
    position: relative !important;
    height: auto !important;
}

.wy-side-nav-search>a {
    display: none;
}

.wy-menu-vertical {
    padding-bottom: 120px;
}

.wy-nav-side {
    top: 62px;
    background: #ffffff;
}

.wy-side-nav-search input[type=text] {
    border-color: #ced4da !important; 
    border: 1px solid;
    border-radius: 0;
    box-shadow: none;
    outline: 0 !important;
}

.wy-menu-vertical a {
    color: #001142;
}

.wy-menu-vertical a:hover {
    color: #1470a2;
    background-color: #fff;
}

.wy-menu-vertical li.current a {
    border-right: 0;
}

.wy-menu-vertical li.current {
    background: #fff !important;
}

.wy-menu-vertical li.toctree-l2.current>a {
    background: #f5f5f5;
}

.wy-menu-vertical li.current a:hover {
     background: #f5f5f5 !important;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: 0;
    border-top: 0;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background: #eff9ff !important;
}

.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background: rgba(182, 223, 245,0.6) !important;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
    padding: 0rem 1.8rem;
    height: 62px;
    background-color: #eff9ff;
    z-index: 201;
}

.nav .nav-item .nav-link {
    color: #001142;
    font-size: 16px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 36px;
    border-bottom: 2px solid;
    border-color: transparent;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.nav .nav-item .nav-link:hover {
    border-color: transparent;
}

.navbar .dropdown-menu a {
    padding: 0.5rem 1.5rem;
    font-size: 0.875rem;
    color: #082839;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}

#footer_contact_info {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 20px 70px;
    height: auto;
    background: #001142;
    color: #abb8be;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 201;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

#footer_contact_info a {
    color: #abb8be;
}

.navbar-nav .dropdown-toggle:after {
    content: '\f078';
    font-family:'FontAwesome';
    color: #737E84;
    font-size: 12px;
    line-height: 18px;
    margin-left: 0.3rem;
    border: 0;
    vertical-align: bottom;
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 6px;
}

.wy-menu-vertical header, 
.wy-menu-vertical p.caption {
    color: #1F9ADD;
}

@media only screen and (min-width: 1200px) {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav .nav-item .nav-link {
        font-weight: bold;
        line-height: 62px;
    }

    .nav .nav-item .nav-link:hover {
        border-bottom: 2px solid;
        border-color: #113395;
    }

    .dropdown-menu {
        top: 62px;
        position: absolute !important;
        border: 0;
        border-top: 0;
        border-radius: 0px 0px 8px 8px;
        text-align: left;
        background: white;
        padding: 0.5rem 0 0.9rem;
        min-width: 180px;
        width: 100%;
        -webkit-box-shadow: 0px 8px 16px 0px rgba(31, 154, 221, 0.15);
        box-shadow: 0px 8px 16px 0px rgba(31, 154, 221, 0.15);
    }

    .navbar .dropdown-menu a {
        padding: 0.25rem 1.5rem;
        text-transform: none;
        font-weight: normal;
    }

    .navbar-nav .dropdown-toggle:after {
        right: 7px;
        line-height: 50px;
    }
}


@media only screen and (max-width: 1199px) {

    .navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
        background-image: url('https://portal.apstra.com/static/clientportal/images/close-icon.png');
        width: 22px;
        height: 22px;
        margin-right: 2px;
    }

    [type=button]:not(:disabled), 
    [type=reset]:not(:disabled), 
    [type=submit]:not(:disabled), 
    button:not(:disabled) {
        outline: none;
    }

    .navbar-collapse {
        z-index: 11;
        background: white;
        text-align: left;
        position: absolute;
        top: 62px;
        left: 0;
        right: 0;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 20px;
        padding-top: 20px;
        -webkit-box-shadow: 0 4px 2px -2px #f1f1f1;
        box-shadow: 0 4px 2px -2px #f1f1f1;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .nav .nav-item .nav-link {
        color: #001142;
        font-size: 16px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 36px;
        border-bottom: 2px solid;
        border-color: transparent;
        font-weight: normal;
    }

    .navbar-nav .dropdown-item:hover, 
    .navbar-nav .dropdown-item:focus {
        background-color: transparent;
        color: #1470a2;
    }

    .navbar .dropdown:hover > .dropdown-menu {
        display: none;
    }

    .navbar .dropdown .dropdown-menu.show {
        display: block;
    }

    .navbar .dropdown-menu {
        position: static !important;
        text-align: left;
        border: 0;
        background: #DEF0FA;
        padding: 1rem 0;
        z-index: 2;
        -webkit-box-shadow: 0px 8px 16px 0px rgba 31, 154, 221, 0.15;
        box-shadow: 0px 8px 16px 0px rgba 31, 154, 221, 0.15;
    }

    .navbar .dropdown > a#supportDropdown.dropdown-toggle[aria-expanded="true"]:after,
    .navbar .dropdown > a#documentationDropdown.dropdown-toggle[aria-expanded="true"]:after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        margin-bottom: 3px;
    }

}
