{% extends "!layout.html" %}
{% block footer %}
<!-- START top nav -->
<script>
  $(document).ready(function() {
      $.ajax({ url: '/documentation-top-nav/', success: function(data) { $('body').prepend(data); } });
    });
</script>
<!-- STOP top nav -->
<!-- Start footer -->
<div class="text-center" id="footer_contact_info">
  Support line: +1-650-285-2390 Option 1&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  Email us:
  <a id="footer_contact_info_email" href="mailto:support@apstra.com">support@apstra.com</a>
</div>
<!-- STOP footer -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{{ super() }}
{% endblock %}
{% block linktags %}
{{ super() }}
<link rel="icon" href="/static/clientportal/images/favicon.ico">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="_static/css/custom.css" type="text/css" />
{% endblock %}

{% block sidebartitle %}
<a href="{{ pathto(master_doc) }}">
  <img src="{{ pathto('_static/' + apstra_logo, 1) }}" class="logo" />


  <div class="version">
    <img src="{{ pathto('_static/' + aos_logo, 1) }}" class="logo aos-logo" /> {{version}}&trade;
  </div>
</a>

{% include "searchbox.html" %}
{% endblock %}